# copy this file to your .env
VITE_GOOGLE_PROJECT_ID=your_project_id
VITE_GOOGLE_TRANSLATE_BASE_URL=https://translation.googleapis.com/language/translate/v2
VITE_GOOGLE_TRANSLATE_API_KEY=your_api_key
