# envrionment
ENVIRONMENT="development"

# OpenAI GPT-4o-mini environment variables
OPENAI_API_KEY="your_openai_api_key"
OPENAI_GPT4O_MINI_MODEL="gpt-4o-mini"

# Azure GPT-4o environment variables
AZURE_OPENAI_API_KEY_GPT4O="your_azure_openai_api_key_gpt4o"
AZURE_OPENAI_ENDPOINT_GPT4O="your_azure_openai_endpoint_gpt4o"
AZURE_OPENAI_API_VERSION_GPT4O="your_azure_openai_api_version_gpt4o"
AZURE_OPENAI_DEPLOYMENT_GPT4O="your_azure_openai_deployment_gpt4o"
AZURE_OPENAI_GPT4O_MODEL="gpt-4o"

# Google Gemini 2.0 Flash environment variables
GOOGLE_GEMINI2_FLASH_MODEL="gemini-2.0-flash-001"
GOOGLE_GEMINI2_FLASH_API_KEY="your_google_gemini2_flash_api_key"

# Cohere Environment variables
COHERE_API_KEY="your_cohere_api_key"
COHERE_COMMAND_A_MODEL="command-a-03-2025"

# Search Engine environment variables
GOOGLE_CSE_ID="your_google_cse_search_engine_id"
GOOGLE_CSE_API_KEY="your_google_cse_api_key"
GOOGLE_CSE_BASE_URL="https://www.googleapis.com/customsearch/v1"

# Azure Storage environment variables
AZURE_STORAGE_CONNECTION_STRING="your_azure_storage_connection_string"
AZURE_STORAGE_CONTAINER_NAME="your_azure_storage_container_name"

# Authentication environment variables
MICROSOFT_CLIENT_ID="your_microsoft_client_id"
MICROSOFT_JWKS_URL="https://login.microsoftonline.com/common/discovery/keys"
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_JWKS_URL="https://www.googleapis.com/oauth2/v3/certs"
